<!-- this form displays data from json--> 
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.id}}.  
          {{main.title}}
        
        </mat-panel-title>
      </mat-expansion-panel-header> 
      {{main.body}} 
      <br>
      <br>
      All comments:
      <br>
      <span *ngFor="let comment of comments$">
          <span *ngIf = "comment.postId == main.id;other" > comment: {{comment.body}}  <br>  
            </span>
        </span> 
        <button mat-raised-button color="primary" (click)="mySave(main.title, main.body)">Save </button>  
    </mat-expansion-panel>
  </mat-accordion>

