<!--<mat-selection-list #todos>
        <mat-list-item  *ngFor="let todo of todos$ |async">
        <mat-list-option>
            <span>
            {{todo.title}}
            {{todo.body}}
            </span>
            <mat-card-actions>
                    <button mat-button (click) = "addLikes()">LIKE {{likes}}</button>
                  </mat-card-actions>
            </mat-list-option>
          </mat-list-item>
         
        </mat-selection-list>
        
        <p>
          Options selected: {{todos.selectedOptions.selected.length}}
        </p>-->

        <mat-accordion>
                <mat-expansion-panel *ngFor="let todo of todos$ |async">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{todo.title}}
                    </mat-panel-title>
                  </mat-expansion-panel-header> 
                  {{todo.body}} 
                  <br>
                  <button mat-raised-button 
                          color="primary"
                          (click) = deleteTodo(todo.id)>
                    Delete
                  </button> 
                  <mat-card-actions>
                        <button mat-button (click) = "addLike()">LIKE {{likes}}</button>
                      </mat-card-actions>
                </mat-expansion-panel>
              </mat-accordion>